.card-container {
    @include flexCenterColumn;
    margin: 20px 0; // Térköz a kártyák között
}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px; // Mélységet adunk a forgatáshoz
    position: relative;
    cursor: pointer;

    &-front,
    &-back {
        @include flexCenter; 
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; // A másik oldal rejtve marad
       
        font-size: 3rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease; // Az animáció időtartama
    }

    &-front {
        background-color: #ccc; // Háttérszín az első oldalnak
        color: $bg; // Szöveg színe
    }

    &-back {
        background-color: $main-color; // Háttérszín a második oldalnak
        color: $white-smoke; // Szöveg színe
        transform: rotateY(-180deg); // Elfordított állapot
    }

    &.flipped &-front {
        transform: rotateY(180deg); // Az első oldal elforgatása
    }

    &.flipped &-back {
        transform: rotateY(0deg); // A második oldal megjelenítése
    }

    &.no-animation {
        transition: none; // Eltávolítjuk az animációt a következő szó megjelenítésekor
    }
}