.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px; // Mélységet adunk a forgatáshoz
    position: relative;
    cursor: pointer;

    &-front,
    &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; // A másik oldal rejtve marad
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.4s ease;
    }

    &-front {
        background-color: #ccc;
        color: $bg;
    }

    &-back {
        background-color: $main-color;
        transform: rotateY(180deg); // A hátsó oldal alapértelmezésben el van forgatva
    }

    &.flipped &-front {
        transform: rotateY(180deg); // A kártya első oldala megfordul
    }

    &.flipped &-back {
        transform: rotateY(0deg); // A hátsó oldal visszafordul
    }
}


